{% extends 'base.html' %}
{% block content %}
<h2>Обо мне</h2>
<p>Я — Лиля Хажимуратова, фрилансер: графический дизайн. Свяжитесь через форму контактов. Графический дизайнер с трехлетним опытом в создании визуальных решений, обладающий выраженным чувством стиля и глубоким пониманием современных трендов.




Создаю уникальные дизайны для маркетплейсов. Разрабатываю карточки товаров для таких платформ, как Wildberries, Ozon, Яндекс Маркет, Авито и других, с акцентом на привлечение внимания и увеличении конверсии.





Ключевые навыки:
- Чувство стиля: Умение создавать гармоничные и привлекательные дизайны, сочетающие эстетику и практичность.




- Актуальность: Постоянный мониторинг новых тенденций в мире дизайна, что позволяет создавать современные и востребованные проекты.




- Широкая насмотренность: Обширный опыт в работе с различными стилями и направлениями, что помогает находить уникальные подходы к каждому проекту.




- Работа с искусственным интеллектом: Эффективное использование инструментов ИИ для генерации идей, оптимизации процессов и создания уникальных дизайнерских решений. Мои работы вы можите увидеть в портфолио и в услугах.</p>
{% endblock %}
